{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
<form method="post">
    <div class="d-flex flex-column align-items-center">
        <h1 class="h3 mb-4 mt-5 font-weight-normal">Veuillez vous connecter</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 alert alert-info" role="alert">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}" class="alert-link">Déconnexion</a>
            </div>
        {% endif %}
        <div class="form-floating mb-3 w-50">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Votre email" class="form-control {% if error %}is-invalid{% endif %}" required autofocus>
            <label for="inputEmail">Email</label>
        </div>
        <div class="form-floating mb-3 w-50">
            <input type="password" name="password" id="inputPassword" placeholder="Votre mot de passe" class="form-control {% if error %}is-invalid{% endif %}" required>
            <label for="inputPassword">Password</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mt-2">
            <label>
                <input type="checkbox" name="_remember_me"> Se Souvenir de moi
            </label>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="submit" class="btn btn-dark mb-5">Connecter</button>
        </div>
    </div>
</form>
{% endblock %}
