{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError|trans }}</div>
    {% endfor %}

    <h1 class="h3 my-5 mb-3 font-weight-normal text-center">Inscription</h1>

    {{ form_start(registrationForm) }}
    <div class="d-flex flex-column align-items-center">
        <div class="w-50 form-floating mb-3">
            {{ form_widget(registrationForm.firstname, {'attr':{'class':'form-control', 'placeholder': 'Votre nom'}}) }}
            {{ form_label(registrationForm.firstname, 'Nom') }}
       </div>
        <div class="w-50 form-floating mb-4">
            {{ form_widget(registrationForm.lastname, {'attr':{'class': 'form-control', 'placeholder': 'Votre prénom'}}) }}
            {{ form_label(registrationForm.lastname, 'Prénom') }}
        </div>
        <div class="w-50 form-floating mb-4">
            {{ form_widget(registrationForm.pseudo, {'attr':{'class': 'form-control', 'placeholder': 'Votre Pseudo'}}) }}
            {{ form_label(registrationForm.pseudo,'Pseudo') }}

        </div>
        <div class="w-50 form-floating mb-4">
            {{ form_widget(registrationForm.email, {'attr':{'class': 'form-control', 'placeholder': 'Votre Email'}}) }}
            {{ form_label(registrationForm.email,'Email') }}
        </div>
        <div class="w-50 form-floating mb-4">
            {{ form_widget(registrationForm.password.first, {'attr':{'class': 'form-control', 'placeholder': 'Votre mot de passe'}}) }}
            {{ form_label(registrationForm.password.first,'Mot de passe') }}
            <ul class="list-unstyled">
            {% for error in registrationForm.password.first.vars.errors %}
                <li class="text-danger fst-italic fs-6">
                    {{ error.message }}
                </li>
            {% endfor %}
            </ul>

        </div>
        <div class="w-50 form-floating mb-4">
            {{ form_widget(registrationForm.password.second, {'attr':{'class': 'form-control', 'placeholder': 'Répéter le mot de passe'}}) }}
            {{ form_label(registrationForm.password.second, 'Répéter le mot de passe') }}
        </div>
        {{ form_row(registrationForm.avatar, {
            'attr':{
                'class':'form-control form-control-sm mb-5'},
            'label':'Votre Avatar',
            'label_attr':{'class':'mt-3'}
        })
        }}
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="submit" class="btn btn-dark mb-5">Enregistrer</button>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
