{% extends 'base.html.twig' %}

{% block title %} Figures {% endblock %}

{% block body %}
    <h1 class="mt-5 title">{{ titre }}</h1>
    {% if app.user %}
        <div class="mt-5 mb-4">
            <a href="{{ path('figure_create') }}" class="btn btn-dark">Créer une figure</a>
        </div>
    {% endif %}
    <section class="mt-5">
        {% if figures %}
            <h3>{{ figures|length }} Figures publiées a se jours</h3>
            <div class="row row-cols-1 row-cols-md-4 g-3">
            {% for figure in figures %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ figure.title }}</h5>
                            <a href="{{ path('detail_figure', {id: figure.id}) }}" class="btn btn-dark btn-sm">Voir détail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
        <p>Désolé mais pour le moment aucune figure.</p>
        {% endif %}
    </section>
{% endblock %}