{% extends 'base.html.twig' %}

{% block title %}List Youtube video{% endblock %}

{% block body %}
    <h1 class="m-5">Liste des Tricks en video</h1>
    {% if videos|length > 0 %}
    <ul class="list-group list-group-numbered w-50 m-auto">
        {% for video in videos %}
            <li class="list-group-item d-flex justify-content-between align-items-start mb-4">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ video.title }}</div>
                    <a href="{{ path('detail_figure', {id : video.figure.id}) }}">figure : {{ '' ~ video.figure.title }}</a>
                </div>
                <a href="{{ video.link }}" class="badge bg-dark rounded-pill fs-5 link-light"><i class="bi bi-play-btn"></i></a>
            </li>
            <!-- Modal -->
        {% endfor %}
    </ul>
    <div class="d-flex justify-content-center">
        {% do videos.setPageRange(2) %}
        {{ knp_pagination_render(videos, 'base/pagination.html.twig') }}
    </div>
    {% else %}
        <p>Pas de vidèo pour le moment</p>
    {% endif %}
{% endblock %}
