{% extends 'base.html.twig' %}
{% block title %} Création {% endblock %}
{% block body %}
    <h1 class="mt-5 mb-5">
        {% if editMode %}
            Mise à jour d'une figure
        {% else %}
            Création d'une figure
        {% endif %}

    </h1>
    <div class="mx-auto my-5 w-75">
    {{ form_start(formFigure) }}
            <div class="w-75 form-floating mb-4 m-auto">
                {{ form_widget(formFigure.title, {'attr':{'class': 'form-control', 'placeholder': 'Titre'}}) }}
                {{ form_label(formFigure.title, 'Titre') }}
                <ul class="list-unstyled">
                    {% for error in formFigure.title.vars.errors %}
                        <li class="text-danger fst-italic fs-6">
                            {{ error.message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="w-75 form-floating mb-4 m-auto">
                {{ form_widget(formFigure.description, {
                    'attr':{
                        'class': 'form-control descriptionField',
                        'placeholder' : 'Message...'}
                    }
                ) }}
                {{ form_label(formFigure.description, 'Description') }}
                <ul class="list-unstyled">
                    {% for error in formFigure.description.vars.errors %}
                        <li class="text-danger fst-italic fs-6">
                            {{ error.message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="w-75 form-floating mb-4 m-auto">
                {{ form_widget(formFigure.category, {'attr':{ 'class': 'form-select', 'aria-label' : 'Selection des catégories' }}) }}
                {{ form_label(formFigure.category, 'Categories') }}
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mt-5">
                <button type="submit" class="btn btn-outline-dark">
                    {% if editMode %}
                        Enregistrer
                    {% else %}
                        Ajouter la figure
                    {% endif %}
                </button>
            </div>
        {{ form_end(formFigure) }}
    </div>

{% endblock %}